<launch>
  <group ns="ema_tao">
  <rosparam command="load" file="$(find ema_tao)/config/imu.yaml" ns="imu" />

  <node name="imu" pkg="ema_tao" type="imu_node.py" output="screen" />

  <!-- CODIGO RAPHAEL - THRESHOLD PARA ESTIMULAÇÃO-->
  <node name="stateMachine" pkg="ema_tao" type="channelScanner.py" output="screen" />

  </group>

  <!-- launch utils 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ema_tao)/config/rviz/imu.rviz" output="log" respawn="true" respawn_delay="5"/>
  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" output="log" respawn="true" respawn_delay="5"/> -->
  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" output="log" respawn="true" respawn_delay="5"/>
</launch>
