<launch>
  <group ns="fes_channel_classifier">
  <rosparam command="load" file="$(find fes_channel_classifier)/config/imu.yaml" ns="imu" />

  <node name="imu" pkg="fes_channel_classifier" type="imu_node.py" output="screen" />

  <!-- RODA NO DE ESTIMULACAO-->
  <node name="channelScanner" pkg="fes_channel_classifier" type="channelScanner.py" output="screen" />

  <!-- RODA NO DE PROTOCOLO-->
  <node name="fes_protocol_1" pkg="fes_channel_classifier" type="fes_protocol_1.py" output="screen" />

  </group>

  <!-- launch utils
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fes_channel_classifier)/config/rviz/imu.rviz" output="log" respawn="true" respawn_delay="5"/>
  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" output="log" respawn="true" respawn_delay="5"/> -->
  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" output="log" respawn="true" respawn_delay="5"/>
</launch>
